name: "interop-be-att-residence-verification"

serviceAccount:
  roleArn: "arn:aws:iam::{{.Values.local.awsAccountId}}:role/interop-att-eservices-residence-verification-dev"

service:
  create: true
  portName: http
  containerPort: 8080
  targetGroupArn: "arn:aws:elasticloadbalancing:eu-south-1:505630707203:targetgroup/residence-verification/f4581b25a52bf2d4"
  targetType: "ip"
  ipAddressType: "ipv4"

configmap:
  SKIP_JWT_VERIFICATION: "false"
  WELL_KNOWN_URLS: "https://dev.interop.pagopa.it/.well-known/jwks.json"
  TOKEN_ISS: "dev.interop.pagopa.it"
  TOKEN_AUD: "https://modipa-val.anpr.interno.it/govway/rest/in/MinInternoPortaANPR/C008-servizioVerificaDichResidenza/v1"
  TOKEN_TYP: "at+jwt"
  SKIP_INTEROPERABILITY_VERIFICATION: "false"
  SKIP_AGID_PAYLOAD_VERIFICATION: "false"
  TOKEN_INTEROPERABILITY_SUBJECT: "7f9f24ca-78f5-4c69-9e4f-0efbeac7aa1a"
  TOKEN_INTEROPERABILITY_AUDIENCE: "auth.dev.interop.pagopa.it/client-assertion"
  TOKEN_INTEROPERABILITY_ISSUER: "7f9f24ca-78f5-4c69-9e4f-0efbeac7aa1a"
  TOKEN_INTEROPERABILITY_EXPIRATION_SECONDS: "3600"
  TOKEN_INTEROPERABILITY_HOST: "https://dev.interop.pagopa.it/1.0"
  TOKEN_INTEROPERABILITY_KID: "2MJFa7aSSveFte8ULX9U-MaaygcoL6iBIJCRXBcba64"
  TOKEN_FROM_ACCESS_CODE: "https://auth.dev.interop.pagopa.it/token.oauth2"
  KMS_LOCAL_CONFIG: "true"              #TO CHECK: shouldn't be necessary
  AWS_CONFIG_FILE: "aws.config.local"   #TO CHECK: shouldn't be necessary
  KMS_ENDPOINT: "http://localhost:4566" #TO CHECK: shouldn't be necessary
  AWS_REGION: "us-east-1"               #TO CHECK: shouldn't be necessary 
  KMS_MAX_ACQUISITION_TIMEOUT_SECONDS: "60"
  KMS_KEYID: "7aaedd0d-15ea-4c26-876b-9647632c533b" #TO CHECK
  SIGNAL_HUB_HOST: "https://api.dev.signalhub.interop.pagopa.it"
  SIGNAL_HUB_API_VERSION: "1.0"
  SEED_EXPIRATION_DAYS: "120"
  SALT_LENGTH: "16"
  ALGORITHM: "sha256"
  START_DATE_MS: "2024-01-01T00:00:00.000Z"
  ALG: "RS256"
  TYP: "JWT"
  PURPOSE_ID: "92e1624b-91cb-4b05-b8c0-cad208a30656"
  CLIENT_ID: "7f9f24ca-78f5-4c69-9e4f-0efbeac7aa1a"
  CORRELATION_ID: "bfbcb93c-58ab-4018-badf-d052294ac052"

deployment:
  flywayInitContainer:
    create: true
    version: "11.4.0"
    downloadRedshiftDriver: false
    migrationsConfigmap: "flyway-platform-data"
    env:
      FLYWAY_CREATE_SCHEMAS: true
      FLYWAY_PLACEHOLDER_REPLACEMENT: true
      FLYWAY_PLACEHOLDERS_NAMESPACE: "dev"
      FLYWAY_URL: jdbc:postgresql://$(DB_HOST):$(DB_PORT)/$(DB_NAME)
      FLYWAY_SCHEMAS: "dev_att"
    envFromConfigmaps:
      DB_HOST: "common-platform-data.DB_HOST"
      DB_PORT: "common-platform-data.DB_PORT"
      DB_NAME: "common-platform-data.DB_NAME"
    envFromSecrets:
      FLYWAY_USER: "att-eservices-flyway-user.username"
      FLYWAY_PASSWORD: "att-eservices-flyway-user.password"
      
  env:
    HOST: "0.0.0.0"
    PORT: "8080"
  envFromConfigmaps:
    DATABASE_HOST: "common-platform-data.DB_HOST"
    DATABASE_PORT: "common-platform-data.DB_PORT"
    DATABASE_NAME: "common-platform-data.DB_NAME"
    DATABASE_SSL: "common-platform-data.DB_SSL"
  envFromSecrets:
    DATABASE_USER: "att-eservices-residence-verification-user.username"
    DATABASE_PASSWORD: "att-eservices-residence-verification-user.password"
    
  livenessProbe:
    httpGet:
      path: /status
      port: http
    initialDelaySeconds: 15
    periodSeconds: 5
  readinessProbe:
    httpGet:
      path: /status
      port: http
    initialDelaySeconds: 15
    periodSeconds: 5