name: "interop-be-att-residence-submission"

serviceAccount:
  roleArn: "arn:aws:iam::{{.Values.local.awsAccountId}}:role/interop-att-eservices-residence-submission-dev"

service:
  create: true
  portName: http
  containerPort: 8080
  targetGroupArn: "arn:aws:elasticloadbalancing:eu-south-1:505630707203:targetgroup/residence-submission/8981ceeb15f725ce"
  targetType: "ip"
  ipAddressType: "ipv4"

configmap:
  SKIP_JWT_VERIFICATION: "false"
  WELL_KNOWN_URLS: "https://dev.interop.pagopa.it/.well-known/jwks.json"
  TOKEN_ISS: "dev.interop.pagopa.it"
  TOKEN_AUD: "https://modipa-val.anpr.interno.it/govway/rest/in/MinInternoPortaANPR/C008-servizioVerificaDichResidenza/v1"
  TOKEN_TYP: "at+jwt"
  SKIP_INTEROPERABILITY_VERIFICATION: "false"
  SKIP_AGID_PAYLOAD_VERIFICATION: "false"
  TOKEN_INTEROPERABILITY_SUBJECT: "7f9f24ca-78f5-4c69-9e4f-0efbeac7aa1a"
  TOKEN_INTEROPERABILITY_AUDIENCE: "auth.dev.interop.pagopa.it/client-assertion"
  TOKEN_INTEROPERABILITY_ISSUER: "7f9f24ca-78f5-4c69-9e4f-0efbeac7aa1a"
  TOKEN_INTEROPERABILITY_EXPIRATION_SECONDS: "3600"
  TOKEN_INTEROPERABILITY_HOST: "https://dev.interop.pagopa.it/1.0"
  TOKEN_INTEROPERABILITY_KID: "2MJFa7aSSveFte8ULX9U-MaaygcoL6iBIJCRXBcba64"
  TOKEN_FROM_ACCESS_CODE: "https://auth.dev.interop.pagopa.it/token.oauth2"
  SIGNAL_HUB_HOST: "https://api.dev.signalhub.interop.pagopa.it"
  SIGNAL_HUB_API_VERSION: "1.0"
  SEED_EXPIRATION_DAYS: "120"
  SALT_LENGTH: "16"
  ALGORITHM: "sha256"
  START_DATE_MS: "2024-01-01T00:00:00.000Z"
  ALG: "RS256"
  TYP: "JWT"
  M2M_TOKEN_ENDPOINT: "https://auth.dev.interop.pagopa.it/token.oauth2"
  M2M_PRIVATE_KEY_PATH: "../client-anpr-residence-verification-mockup/keys/client-test-keypair.rsa.priv"
  M2M_KMS_KID: "08bdbbc0-9821-4822-b946-49e999579b1c"
  M2M_CLIENT_ID: "38c4c9d6-42c8-4494-ae3b-1df5a4ab9066"
  M2M_AUTH_AUDIENCE: "dev.interop.pagopa.it/m2m"
  M2M_ROLE: "m2m"
  M2M_ORG_ID: "69e2865e-65ab-4e48-a638-2037a9ee2ee7"
  PURPOSE_ID: "92e1624b-91cb-4b05-b8c0-cad208a30656"
  CLIENT_ID: "7f9f24ca-78f5-4c69-9e4f-0efbeac7aa1a"
  CORRELATION_ID: "bfbcb93c-58ab-4018-badf-d052294ac052"

deployment:
  flywayInitContainer:
    create: true
    version: "11.4.0"
    downloadRedshiftDriver: false
    migrationsConfigmap: "common-att-eservices-flyway"
    env:
      FLYWAY_CREATE_SCHEMAS: true
      FLYWAY_PLACEHOLDER_REPLACEMENT: true
      FLYWAY_PLACEHOLDERS_NAMESPACE: "dev"
      FLYWAY_URL: jdbc:postgresql://$(DB_HOST):$(DB_PORT)/$(DB_NAME)
      FLYWAY_SCHEMAS: "dev_att"
    envFromConfigmaps:
      DB_HOST: "common-att-eservices-data.DB_HOST"
      DB_PORT: "common-att-eservices-data.DB_PORT"
      DB_NAME: "common-att-eservices-data.DB_NAME"
    envFromSecrets:
      FLYWAY_USER: "platform-data-att-eservices-flyway-user.username"
      FLYWAY_PASSWORD: "platform-data-att-eservices-flyway-user.password"
  env:
    HOST: "0.0.0.0"
    PORT: "8080"
  envFromConfigmaps:
    DATABASE_HOST: "common-att-eservices-data.DB_HOST"
    DATABASE_PORT: "common-att-eservices-data.DB_PORT"
    DATABASE_NAME: "common-att-eservices-data.DB_NAME"
    DATABASE_SSL: "common-att-eservices-data.DB_USE_SSL"
    DATABASE_SCHEMA: "common-att-eservices-data.DB_SCHEMA"
  envFromSecrets:
    DATABASE_USERNAME: "platform-data-att-eservices-residence-submission-user.username"
    DATABASE_PASSWORD: "platform-data-att-eservices-residence-submission-user.password"

  livenessProbe:
    httpGet:
      path: /residence-submission/status
      port: http
    initialDelaySeconds: 15
    periodSeconds: 5
  readinessProbe:
    httpGet:
      path: /residence-submission/status
      port: http
    initialDelaySeconds: 15
    periodSeconds: 5
