name: "interop-be-att-residence-submission"

serviceAccount:
  roleArn: "arn:aws:iam::{{.Values.local.awsAccountId}}:role/interop-att-eservices-residence-submission-dev"

service:
  create: true
  portName: http
  containerPort: 8080
  targetGroupArn: "arn:aws:elasticloadbalancing:eu-south-1:505630707203:targetgroup/residence-submission/8981ceeb15f725ce"
  targetType: "ip"
  ipAddressType: "ipv4"

configmap:

deployment:
  flywayInitContainer:
    create: true
    version: "11.4.0"
    downloadRedshiftDriver: false
    migrationsConfigmap: "flyway-platform-data"
    env:
      FLYWAY_CREATE_SCHEMAS: true
      FLYWAY_PLACEHOLDER_REPLACEMENT: true
      FLYWAY_PLACEHOLDERS_NAMESPACE: "dev"
      FLYWAY_URL: jdbc:postgresql://$(DB_HOST):$(DB_PORT)/$(DB_NAME)
      FLYWAY_SCHEMAS: "dev_att"
    envFromConfigmaps:
      DB_HOST: "common-platform-data.DB_HOST"
      DB_PORT: "common-platform-data.DB_PORT"
      DB_NAME: "common-platform-data.DB_NAME"
    envFromSecrets:
      FLYWAY_USER: "att-eservices-flyway-user.username"
      FLYWAY_PASSWORD: "att-eservices-flyway-user.password"

  envFromConfigmaps:
    DATABASE_HOST: "common-platform-data.DB_HOST"
    DATABASE_PORT: "common-platform-data.DB_PORT"
    DATABASE_NAME: "common-platform-data.DB_NAME"
    DATABASE_SSL: "common-platform-data.DB_SSL"
  envFromSecrets:
    DATABASE_USER: "att-eservices-residence-submission-user.username"
    DATABASE_PASSWORD: "att-eservices-residence-submission-user.password"

  livenessProbe:
    httpGet:
      path: /status
      port: http
    initialDelaySeconds: 15
    periodSeconds: 5
  readinessProbe:
    httpGet:
      path: /status
      port: http
    initialDelaySeconds: 15
    periodSeconds: 5