name: "interop-be-att-residence-submission"

serviceAccount:
  roleArn: "arn:aws:iam::{{.Values.local.awsAccountId}}:role/interop-att-eservices-residence-submission-{{.Values.local.env}}"

service:
  create: true
  portName: http
  containerPort: 8080
  targetGroupArn: "arn:aws:elasticloadbalancing:eu-south-1:533267098416:targetgroup/residence-submission/44fa7122eabf797f"
  targetType: "ip"
  ipAddressType: "ipv4"

configmap:
  SKIP_JWT_VERIFICATION: "false"
  WELL_KNOWN_URLS: "https://att.interop.pagopa.it/.well-known/jwks.json"
  TOKEN_ISS: "att.interop.pagopa.it"
  TOKEN_AUD: "https://eservices.att.interop.pagopa.it/residence-submission"
  TOKEN_TYP: "at+jwt"
  SKIP_INTEROPERABILITY_VERIFICATION: "false"
  SKIP_AGID_PAYLOAD_VERIFICATION: "false"
  TOKEN_INTEROPERABILITY_SUBJECT: "7f9f24ca-78f5-4c69-9e4f-0efbeac7aa1a"
  TOKEN_INTEROPERABILITY_AUDIENCE: "auth.att.interop.pagopa.it/client-assertion"
  TOKEN_INTEROPERABILITY_ISSUER: "7f9f24ca-78f5-4c69-9e4f-0efbeac7aa1a"
  TOKEN_INTEROPERABILITY_EXPIRATION_SECONDS: "3600"
  TOKEN_INTEROPERABILITY_HOST: "https://att.interop.pagopa.it/1.0"
  TOKEN_INTEROPERABILITY_KID: "2MJFa7aSSveFte8ULX9U-MaaygcoL6iBIJCRXBcba64"
  TOKEN_FROM_ACCESS_CODE: "https://auth.att.interop.pagopa.it/token.oauth2"
  SIGNAL_HUB_HOST: "https://api.att.signalhub.interop.pagopa.it"
  SIGNAL_HUB_API_VERSION: "1.0"
  SEED_EXPIRATION_DAYS: "120"
  SALT_LENGTH: "16"
  ALGORITHM: "sha256"
  START_DATE_MS: "2024-01-01T00:00:00.000Z"
  ALG: "RS256"
  TYP: "JWT"
  M2M_TOKEN_ENDPOINT: "https://auth.att.interop.pagopa.it/token.oauth2"
  M2M_PRIVATE_KEY_PATH: "../client-anpr-residence-verification-mockup/keys/client-test-keypair.rsa.priv"
  M2M_KMS_KID: "18e39018-4426-44bf-bf3c-b4a726022572"
  M2M_CLIENT_ID: "c3262bd5-c68a-4e0b-9594-77d7e60d0ed4"
  M2M_AUTH_AUDIENCE: "att.interop.pagopa.it/m2m"
  M2M_ROLE: "m2m"
  M2M_ORG_ID: "1013dbf7-1124-4daa-8e85-ac9313d5dc61"
  PURPOSE_ID: "92e1624b-91cb-4b05-b8c0-cad208a30656"
  CLIENT_ID: "7f9f24ca-78f5-4c69-9e4f-0efbeac7aa1a"
  CORRELATION_ID: "bfbcb93c-58ab-4018-badf-d052294ac052"
  SKIP_DIGEST_CHECK: "true"

deployment:
  flywayInitContainer:
    create: true
    version: "11.4.0"
    downloadRedshiftDriver: false
    migrationsConfigmap: "common-att-eservices-flyway"
    env:
      FLYWAY_CREATE_SCHEMAS: true
      FLYWAY_PLACEHOLDER_REPLACEMENT: true
      FLYWAY_PLACEHOLDERS_NAMESPACE: "att"
      FLYWAY_URL: jdbc:postgresql://$(DB_HOST):$(DB_PORT)/$(DB_NAME)
      FLYWAY_SCHEMAS: "att"
    envFromConfigmaps:
      DB_HOST: "common-att-eservices-data.DB_HOST"
      DB_PORT: "common-att-eservices-data.DB_PORT"
      DB_NAME: "common-att-eservices-data.DB_NAME"
    envFromSecrets:
      FLYWAY_USER: "platform-data-att-eservices-flyway-user.username"
      FLYWAY_PASSWORD: "platform-data-att-eservices-flyway-user.password"
  env:
    HOST: "0.0.0.0"
    PORT: "8080"
  envFromConfigmaps:
    DATABASE_HOST: "common-att-eservices-data.DB_HOST"
    DATABASE_PORT: "common-att-eservices-data.DB_PORT"
    DATABASE_NAME: "common-att-eservices-data.DB_NAME"
    DATABASE_SSL: "common-att-eservices-data.DB_USE_SSL"
    DATABASE_SCHEMA: "common-att-eservices-data.DB_SCHEMA"
  envFromSecrets:
    DATABASE_USERNAME: "platform-data-att-eservices-residence-submission-user.username"
    DATABASE_PASSWORD: "platform-data-att-eservices-residence-submission-user.password"

  livenessProbe:
    httpGet:
      path: /residence-submission/status
      port: http
    initialDelaySeconds: 15
    periodSeconds: 5
  readinessProbe:
    httpGet:
      path: /residence-submission/status
      port: http
    initialDelaySeconds: 15
    periodSeconds: 5
